SQLAlchemy          == 1.4.52
alembic             == 0.9.10
fastapi             == 0.111.0
PyYAML              == 5.4.1
Inject              == 4.3.1
starlette           == 0.37.2
pydantic            == 2.7.2
uvicorn             == 0.30.5
pip                 == 22.3
attrs               == 23.1.0
wheel               == 0.37.1
cryptography        == 42.0.5
pillow              == 10.4.0
docutils            == 0.21.2
jinja2              == 3.1.4
filelock            == 3.16.1
setuptools          == 65.3.0
packaging           == 24.1
zipp                == 3.19.2
Cython              == 3.0.11
future              == 1.0.0
uvloop              == 0.19.0
httptools           == 0.6.1
psycopg2-binary     == 2.9.9